* {
    margin: absolute;
    left: 60%;
    top: 60%;
    padding: 0%;
    font-family: "Poppins", sans-serif;
}
body {
    background: hwb(276 31% 27% / 0.368);
}
.show-btn img {
    position: absolute;
    left: 80%;
    top: 83%;
    width: 8%;
    height: 15%;
    cursor: pointer;
    border-radius: 50%;
    text-align: center;
    background-color: rgba(71, 160, 255, 0.418);
    color: #fff;
}
.show-btn img {
    margin: 15px 17px;
    font-size: 100%;
}
.img {
    margin: 15px 17px;
    font-size: 100%;
}
input[type="checkbox"] {
    display: none;
}
#show:checked ~ .wrapper {
    display: block;
}

.wrapper {
    display: none;
    width: 320px;
    height: 400px;
    margin: 100px auto;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0px 10px 5px rgba(0, 0, 0, 1);
}

h5 {
    color: #fff;
    padding: 15px;
    background: tomato;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

p {
    font-size: 13px;
    margin-top: 10px;
    padding: 5px 10px;
    text-align: center;
}

form {
    margin: 5px;
    width: 270px;
    padding: 40px 20px;
    border-radius: 10px;
    border: 1px solid rgb(236, 234, 234);
}

input {
    display: block;
    width: 250px;
    border: none;
    outline: none;
    padding: 10px;
    color: rgb(26, 24, 24);
    margin-bottom: 10px;
    border-radius: 12px;
    border: 1px solid rgb(62, 50, 50);
}

input::placeholder {
    color: rgb(202, 207, 202);
}

button {
    width: 100%;
    padding: 8px;
    border: none;
    outline: none;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    margin-top: 30px;
    background: rgb(142, 63, 49);
    border-radius: 12px;
}

input:focus {
    border-color: black;
}
button:hover {
    background: rgba(189, 23, 23, 0.116);
}
